
<div class="col">
    <div class="card mb-5 mb-lg-0">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{plan}}</h5>
        <h6 class="card-price text-center">${{price}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{desc}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{limit}}</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>{{access}}</li>
          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{private}}</li>
          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{support}}</li>
          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{subdomain}}
          </li>
          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{reports}}</li>
        </ul>
        <div class="d-grid">
          <a href="#" class="btn btn-primary text-uppercase">Button</a>
        </div>
      </div>
    </div>
  </div>
  