<section class="pricing  py-5 ps-5">

    <div class="row container justify-content-center ">
     
        <app-cards class="col-lg-4" [price]="plans[0].price" 
        [plan]="plans[0].plan" 
        [desc]="plans[0].desc"
        [storage]="plans[0].storage"
        [limit]="plans[0].limit"
        [access]="plans[0].access"
        [private]="plans[0].private"
        [support]="plans[0].support"
        [subdomain]="plans[0].subdomain"
        [reports]="plans[0].reports"
        > 
      </app-cards><br>
        <app-cards class="col-lg-4" [price]="plans[1].price" 
        [plan]="plans[1].plan"
        [desc]="plans[1].desc"
        [storage]="plans[1].storage"
        [limit]="plans[1].limit"
        [access]="plans[1].access"
        [private]="plans[1].private"
        [support]="plans[1].support"
        [subdomain]="plans[1].subdomain"
        [reports]="plans[1].reports"
        >
      </app-cards><br>
        <app-cards class="col-lg-4" [price]="plans[2].price"
         [plan]="plans[2].plan"
         [desc]="plans[2].desc"
         [storage]="plans[2].storage"
         [limit]="plans[2].limit"
         [access]="plans[2].access"
         [private]="plans[2].private"
         [support]="plans[2].support"
         [subdomain]="plans[2].subdomain"
         [reports]="plans[2].reports"
         >
        </app-cards><br>
      </div>
     
    
</section>